<h1><%= @restaurant.name %></h1>

<ul>
<li>Address: <%= @restaurant.address %></li>
<li>Phone number: <%= @restaurant.phone_number %></li>
<li>Category: <%= @restaurant.category %></li>
</ul>

<%= link_to("Back to restaurant list", restaurants_path) %>

