<h1><%= @restaurant.name %></h1>

<ul>
<li>Address: <%= @restaurant.address %></li>
<li>Phone number: <%= @restaurant.phone_number %></li>
<li>Category: <%= @restaurant.category %></li>
</ul>

<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= "â­" * review.rating %> <%= review.content %>. Added on <%= review.created_at.strftime("%d/%m/%Y") %></li>
  <% end %>
</ul>

<%= link_to("Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary") %>
<br>
<%= link_to("Back to restaurant list", restaurants_path) %>

